############################
# Python / Django
############################
__pycache__/
*.py[cod]
*$py.class

# Virtualenv / Pipenv / entorno
venv/
.venv/
env/
.env/
pipenv/
Pipfile.lock

############################
# Archivos de base de datos
############################
db.sqlite3
*.sqlite3

############################
# Archivos estáticos y media
############################
staticfiles/
media/

############################
# Logs y runtime
############################
*.log
*.pot
*.mo
*.pid
*.py,cover
coverage.xml
.coverage
.coverage.*
htmlcov/

############################
# IDE / Editor
############################
.vscode/
.idea/
*.iml

############################
# Sistema operativo
############################
Thumbs.db
Desktop.ini
.DS_Store

############################
# Otros
############################
*.bak
*.swp
*.tmp
