{% extends 'base.html' %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}

<div class="article-container">

    {% if post.imagen %}

    <img src="{{ post.imagen.url }}" class="article-image">

    {% endif %}

    <div class="article-body">

        <h1 class="article-title">

            {{ post.titulo }}

        </h1>

        <h4 class="article-subtitle">

            {{ post.subtitulo }}

        </h4>

        <div class="article-meta">

            <span>
                Autor: {{ post.autor.username }}
            </span>

            <span>
                Fecha de Publicacion: {{ post.fecha|date:"d/m/Y" }}
            </span>

            <span>
                Categoria: {{ post.categoria }}
            </span>

        </div>

        <div class="article-content">

            {{ post.contenido|linebreaks }}

        </div>

        <div class="article-buttons">

            <a href="{% url 'lista_post' %}" class="btn-create">

                Volver al blog

            </a>

            {% if user == post.autor %}

            <a href="{% url 'editar_post' post.pk %}" class="btn-edit">

                Editar

            </a>

            <a href="{% url 'eliminar_post' post.pk %}" class="btn-delete">

                Eliminar

            </a>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}