{% extends 'base.html' %}


{% block title %}Contacto{% endblock %}


{% block content %}


<div class="page-container">


    <div class="info-card">


        <h1>
            Contacto
        </h1>


        <p>
            Si deseas comunicarte con nosotros puedes hacerlo mediante:
        </p>


        <div class="contact-item">

            <strong>Email</strong>

            <span>
                fitlife@gmail.com
            </span>

        </div>


        <div class="contact-item">

            <strong>Instagram</strong>

            <span>
                @fitlife
            </span>

        </div>


        <div class="contact-item">

            <strong>Facebook</strong>

            <span>
                FitLife Blog
            </span>

        </div>


    </div>


</div>


{% endblock %}