{% extends 'base.html' %}

{% block title %}Sobre Nosotros{% endblock %}


{% block content %}

<div class="page-container">


    <div class="info-card">


        <h1>
            Acerca de FitLife
        </h1>


        <p>
            FitLife nació con el objetivo de compartir información confiable
            sobre entrenamiento, nutrición y bienestar.
        </p>


        <p>
            Este proyecto fue desarrollado utilizando Django como proyecto final
            del curso.
        </p>


    </div>


</div>


{% endblock %}